// body{
//     background-color: antiquewhite;
// }
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
    display: inline-block;
}
#title ul{
    background-color: #f5f0ea;
    height: 40px;
    
    li{
        line-height: 40px;
        color: #888888;
        a{
            line-height: 40px;
            color: #888
        }
    }
    #main{
        position: relative;
        left: 10px;
        font-size: 20px;
    }
    #user{
        position: relative;
        left: 60px;
    }
    #classify{
        position: relative;
        left: 100px;
    }
    #admin{
        position: relative;
        left: 1066px;
    }
    #day{
        position: relative;
        left: 1130px;
    }
}
#passBox{
    display: none;
    position: relative;
    top: 0px;
    #pass{
        z-index: 0;
        input{
            border: none;
            height: 26px;
            outline: none;
            border-radius: 18%;
            position: relative;
            left: 60px;
            top: 26px;
        }
        #bt{
            position: relative;
            left: 211px;
            top: 34px;
        }
        // border: 1px solid black;
        background-color: #f7f7f7;
        box-shadow: 5px 5px 5px #888888;
        position: relative;
        margin: 0 auto;
        width: 323px;
        height: 123px;
        border-radius: 13%;
        background-image: url(./images/pig.jpg);
        background-size: 318px;
        border-radius: 13%;
        opacity: 0.5;
    }
    #passCover{
        z-index: 1;
        width: 323px;
        height: 123px;
        /* border: 1px solid black; */
        margin: 0 auto;
        position: relative;
        // left: -10px;
        top: -122px;
        background-image: url(./images/pig.jpg);
        background-size: 292px;
        border-radius: 13%;
    }
}
#titleNext ol{
    display: none;
    background-color: #f0ebe5;
    position: relative;
    top: 42px;
    width: 1400px;
    left: 60px;
    border-radius: 15px;
    height: 23px;
    z-index: 1;
    li{
        position: relative;
        left: 20px;
        display: inline-block; 
        color: #888;
        a{
            color: #888;
        }       
    }
    #return{
        margin-right: 20px;
    }
    .index,.index1{
        margin-left: 20px;
        // color: rgb(124, 169, 226)
        #class_add,#class_handle{
            cursor: pointer;
        }
    }

    
   
}
#show_box{
    
        table{
            width:100%;
            margin:15px 0;
            border:0;
            position: relative;
            top: -15px;
            
            th{
                font-weight:bold;
                background-color:#f7f4f1;
                color:rgb(141, 135, 135);
                border: 1px solid #e7f6fe;
                border-width:1px 0 1px 0
            }
            td {
                border: 1px solid #eeeeee;
                border-width:1px 0 1px 0
            }
             tr {
                border: 1px solid #ffffff;
            }
            th,td {
                font-size:0.95em;
                padding:4px;
                border-collapse:collapse;
                border: 1px solid #eee8e8b6;
                border-width:1px;
                color: #888;
            }
        }
        #pic{
            background-image: url(./images/sheng.png);
            background-size: 28px;
            width: 27px;
            height: 154px;
            position: relative;
            top: 18px;
            left: 204px;
            opacity: 0.6;
        }
    
    #blogclass{
        #addclass{
            display: block;
            position: relative;
            input{
                outline: #888;
                color: #888;
                border-radius: 10px;
                width: 80%;
                height: 31px;
                font-size: 17px;
                padding: 0 10px;
                display: inherit;
                margin: 0 auto;
            }
        }
        #modifyclclass{
            a{
                color: #888;
            }
        }
        
    }
    
}






    
